.text-center{
    color: #080705;
}

.caja_p{
	position: relative;
	background-color: #ffffff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.6);
    cursor: default;
	height: 340px;
	width: 1180px;
	border-radius: 5px;
	top: 10px;
	left: 90px;
}



.caja{
	background-color: #FFFFFF;
	height: 260px;
	width: 480px;
	border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
	position: absolute;
	left: 55px;
	top: 53px;
}


.caja1{
	background-color: #FFFFFF;
	height: 256px;
	width: 540px;
	border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
	position: absolute;
	left: 595px;
	top: 53px;
    overflow: hidden;
    overflow-y: scroll;
}

.leg{
	color: white;
	width: 100.1%;
	background-color:#fc7c04;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	text-align: center;

}

.datos{
	position: relative;
	text-align: center;
	color: #000000;
    background-color: #FFFFFF;
    cursor: default;
	width: 100.5%;
    right: 1.2px;
	height: 22px;
	top: 80px;
}

.datos1{/*correo*/
	position: relative;
	text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    cursor: default;
	width: 100.5%;
    right: 1.2px;
	height: 22px;
    top: -1px;

}

.datos2{/*matricula*/
	position: relative;
	text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    /*box-shadow: 0px 1px 10px rgba(0,0,0,0.2);*/
    cursor: default;
	width: 100.5%;
    right: 1.2px;
	height: 22px;
	top: 40px;

}

.datos3{/*carrera*/
	position: relative;
	text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    /*box-shadow: 0px 1px 10px rgba(0,0,0,0.2);*/
    cursor: default;
	width: 100.5%;
    right: 1.2px;
	height: 22px;
	top: 120px;
}

.cargh{
    text-align: center;
    position: absolute;
    height: 180px;
    width: 100%;
}

.nom{
    background-color: #fdfdfd;
    border:1px solid black;
}

.imss{

    text-align: center;
    position: absolute;
    height: 180px;
    width: 100%;
    background-color: #fdfdfd;
}

.cartr{
    text-align: center;
    position: absolute;
    height: 180px;
    width: 100%;
    background-color: #fdfdfd;
}

.cartp{
    text-align: center;
    position: absolute;
    height: 180px;
    width: 100%;
    background-color: #fdfdfd;
}

.cartA{
    text-align: center;
    position: absolute;
    height: 180px;
    width: 100%;
    background-color: #fdfdfd;
}

.cedlr{
    text-align: center;
    position: absolute;
    height: 180px;
    width: 100%;
    background-color: #fdfdfd;
}

.df{
    text-align: center;
    position: absolute;
    height: 180px;
    width: 100%;
    background-color: #fdfdfd;
}

.cartl{
    text-align: center;
    position: absolute;
    height: 180px;
    width: 100%;
    background-color: #fdfdfd;
}

.cartc{
    text-align: center;
    position: absolute;
    height: 180px;
    width: 100%;
    background-color: #fdfdfd;
}

.rm{
    text-align: center;
    position: absolute;
    height: 180px;
    width: 100%;
    background-color: #fdfdfd;
}

.rm2{
    text-align: center;
    position: absolute;
    height: 180px;
    width: 100%;
    background-color: #fdfdfd;
}

.rm3{
    text-align: center;
    position: absolute;
    height: 180px;
    width: 100%;
    background-color: #fdfdfd;
}

.rm4{
    text-align: center;
    position: absolute;
    height: 180px;
    width: 100%;
    background-color: #fdfdfd;
}

.rm5{
    text-align: center;
    position: absolute;
    height: 180px;
    width: 100%;
    background-color: #fdfdfd;
}

.rm6{
    text-align: center;
    position: absolute;
    height: 180px;
    width: 100%;
    background-color: #fdfdfd;
}

.rm7{
    text-align: center;
    position: absolute;
    height: 180px;
    width: 100%;
    background-color: #fdfdfd;
}

.rm8{
    text-align: center;
    position: absolute;
    height: 180px;
    width: 100%;
    background-color: #fdfdfd;
}

.rm9{
    text-align: center;
    position: absolute;
    height: 180px;
    width: 100%;
    background-color: #fdfdfd;
}

.rm10{
    text-align: center;
    position: absolute;
    height: 180px;
    width: 100%;
    background-color: #fdfdfd;
}

.rm11{
    text-align: center;
    position: absolute;
    height: 180px;
    width: 100%;
    background-color: #fdfdfd;
}

.rm12{
    text-align: center;
    position: absolute;
    height: 180px;
    width: 100%;
    background-color: #fdfdfd;
}

.nombreDoc{
    height: 30px;
    width: 100%;

}

.btnVer{
    width: 100px;
}

.btnAceptar{
    width: 100px;
}

.btnObservaciones{
    width: 130px;
}
